# Listen

hier wollen wir noch einmal Listen wiederholen

In [1]:
authors = []

In [2]:
!ls

Basics.ipynb  default.nix  default.nix~  dois.txt

In [3]:
doi_file_handle = open("dois.txt")

In [4]:
type(doi_file_handle)

_io.TextIOWrapper

In [12]:
doi_file_handle = open("dois.txt")
counter = 0
for line in doi_file_handle:
    # print(line.strip())
    # print("-----")
    counter += 1
    
print(counter)

11

In [17]:
doi_file_handle = open("dois.txt")
for index, line in enumerate(doi_file_handle):
    # print(line.strip())
    # print("-----")
    print(line.strip(), "----->", index)
print(index + 1)

10.1515/bfp-2020-2038 -----> 0
10.1016/j.cell.2020.08.001 -----> 1
10.1002/mbo3.1138 -----> 2
10.1093/nar/gkaa676 -----> 3
10.3390/biom10081161 -----> 4
10.3389/fmicb.2020.00523 -----> 5
10.7554/eLife.58836 -----> 6
10.1128/mBio.01027-20 -----> 7
10.1172/jci.insight.135143 -----> 8
10.15252/embj.2019103852 -----> 9
10.1093/nar/gkaa148 -----> 10
11

In [23]:
doi_file_handle = open("dois.txt")
for line in doi_file_handle: # Interator
    split_line = line.strip().split("/")
    print(split_line)
doi_file_handle.close()

['10.1515', 'bfp-2020-2038']
['10.1016', 'j.cell.2020.08.001']
['10.1002', 'mbo3.1138']
['10.1093', 'nar', 'gkaa676']
['10.3390', 'biom10081161']
['10.3389', 'fmicb.2020.00523']
['10.7554', 'eLife.58836']
['10.1128', 'mBio.01027-20']
['10.1172', 'jci.insight.135143']
['10.15252', 'embj.2019103852']
['10.1093', 'nar', 'gkaa148']

In [24]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [25]:
number_fh = open("numbers.txt", "w")
number_fh.write("Some fancy numbers:")
number_fh.close()

In [26]:
!cat numbers.txt

Some fancy numbers:

In [32]:
number_fh = open("numbers.txt", "w")
number_fh.write("Some fancy numbers:\n")
for number in range(10):
    number_fh.write(str(number) + "\n")
number_fh.close()

In [33]:
!cat numbers.txt

Some fancy numbers:
0
1
2
3
4
5
6
7
8
9

In [37]:
doi_file_handle = open("dois.txt")
file_content = doi_file_handle.read()

In [36]:
print(file_content)

10.1515/bfp-2020-2038
10.1016/j.cell.2020.08.001
10.1002/mbo3.1138
10.1093/nar/gkaa676
10.3390/biom10081161
10.3389/fmicb.2020.00523
10.7554/eLife.58836
10.1128/mBio.01027-20
10.1172/jci.insight.135143
10.15252/embj.2019103852
10.1093/nar/gkaa148

In [38]:
import pandas as pd

doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics]"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen]"]})

In [39]:
doi_df_journal

                              DOI              journal
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol
1             10.21105/joss.01035                 JOSS
2  10.12688/f1000research.18866.2             F1000Res
3      10.1038/s41598-019-52881-4              Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics]

In [40]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0        Chen]

In [43]:
doi_df_journal.merge(doi_df_first_author, on="DOI", how="left")

                              DOI              journal first_author
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol     Blischak
1             10.21105/joss.01035                 JOSS       Sparks
2  10.12688/f1000research.18866.2             F1000Res        Thang
3      10.1038/s41598-019-52881-4              Sci Rep          NaN
4       10.1186/s12859-019-3171-0  BMC Bioinformatics]        Chen]

In [44]:
doi_df_journal.merge(doi_df_first_author, on="DOI", how="right")

                              DOI              journal first_author
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol     Blischak
1             10.21105/joss.01035                 JOSS       Sparks
2             10.21105/joss.01006                  NaN      Granger
3  10.12688/f1000research.18866.2             F1000Res        Thang
4       10.1186/s12859-019-3171-0  BMC Bioinformatics]        Chen]

In [45]:
doi_df_journal.merge(doi_df_first_author, on="DOI", how="inner")

                              DOI              journal first_author
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol     Blischak
1             10.21105/joss.01035                 JOSS       Sparks
2  10.12688/f1000research.18866.2             F1000Res        Thang
3       10.1186/s12859-019-3171-0  BMC Bioinformatics]        Chen]

In [46]:
doi_df_journal.merge(doi_df_first_author, on="DOI", how="outer")

                              DOI              journal first_author
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol     Blischak
1             10.21105/joss.01035                 JOSS       Sparks
2  10.12688/f1000research.18866.2             F1000Res        Thang
3      10.1038/s41598-019-52881-4              Sci Rep          NaN
4       10.1186/s12859-019-3171-0  BMC Bioinformatics]        Chen]
5             10.21105/joss.01006                  NaN      Granger

In [47]:
import pandas as pd

doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics]"]})

doi_df_first_author = pd.DataFrame({
    "cleaned_DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen]"]})

In [48]:
doi_df_journal

                              DOI              journal
0    10.1371/journal.pcbi.1004668     PLoS Comput Biol
1             10.21105/joss.01035                 JOSS
2  10.12688/f1000research.18866.2             F1000Res
3      10.1038/s41598-019-52881-4              Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics]

In [49]:
doi_df_first_author

                      cleaned_DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0        Chen]

In [51]:
doi_df_journal.merge(doi_df_first_author, left_on="DOI", right_on="cleaned_DOI", how="outer")

,DOI,journal,cleaned_DOI,first_author
0,10.1371/journal.pcbi.1004668,PLoS Comput Biol,10.1371/journal.pcbi.1004668,Blischak
1,10.21105/joss.01035,JOSS,10.21105/joss.01035,Sparks
2,10.12688/f1000research.18866.2,F1000Res,10.12688/f1000research.18866.2,Thang
3,10.1038/s41598-019-52881-4,Sci Rep,NaN,NaN
4,10.1186/s12859-019-3171-0,BMC Bioinformatics],10.1186/s12859-019-3171-0,Chen]
5,NaN,NaN,10.21105/joss.01006,Granger

# List comprehension

In [2]:
numbers = [2, 1, 8, 19, 21]

In [3]:
squares = []
for number in numbers:
    squares.append(number * number)

In [4]:
print(squares)

[4, 1, 64, 361, 441]

In [7]:
squares = [number * number for number in numbers]

In [8]:
squares

[4, 1, 64, 361, 441]

In [9]:
numbers_as_strings = [str(number) for number in numbers]

In [10]:
numbers_as_strings

['2', '1', '8', '19', '21']

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
squares_2 = [number * number for number in range(10)]
print(squares_2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# join f√ºr Strings

In [17]:
numbers_as_strings = [str(number) for number in numbers]

In [18]:
"|".join(numbers_as_strings)

'2|1|8|19|21'

In [19]:
"<|>".join(numbers_as_strings)

'2<|>1<|>8<|>19<|>21'

In [20]:
"; ".join(numbers_as_strings)

'2; 1; 8; 19; 21'

# Funktionen

- DRY - Don't repeat yourself!
- Herunterbrechen in kleiner Teile.

In [24]:
def sum_numbers():
    print(5 + 10)
    
sum_numbers()

15

In [26]:
def sum_numbers(number_1, number_2):
    print(5 + 10)
    
sum_numbers(10, 20)

15

In [29]:
def sum_numbers(number_1, number_2):
    print(number_1 + number_2)
    
sum_numbers(10, 20)
sum_numbers(7, 8)

30
15

In [30]:
sum_numbers(9, 7)

16

In [31]:
def sum_numbers(number_1, number_2):
    return number_1 + number_2

print(sum_numbers(7, 4))
print(sum_numbers(1, 8))

11
9

In [36]:
def boring_function():
    "b" + "a"

print(boring_function())

None

In [37]:
result_1 = sum_numbers(6, 8)

In [38]:
print(result_1)

14

In [40]:
def even_more_boring_function():
    pass

print(even_more_boring_function())

None

In [41]:
print(sum_numbers)

<function sum_numbers at 0x7f01201e2820>

In [45]:
switch = "A"

def func_1():
    print("blub")

def func_2():
    print("bla")


if switch == "A":
    my_func = func_1
else:
    my_func = func_2
    
my_func()

blub

In [51]:
my_list = ["abc", "whatever", None, 6, "bla"]

for word in my_list:
    try:
        print(word + " yeah")
    except TypeError:
        print("gnaaaa!")

abc yeah
whatever yeah
gnaaaa!
gnaaaa!
bla yeah